<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="inner">
    <div class="footer-col-inner">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
      <div class="footer-col footer-col-1">
        {%- for item in site.data.footer -%}
        <a href="{{item.link}}" class="footer_link">{{item.title}}</a>
        {%- endfor -%}
      </div>
      <div class="footer-col footer-col-1">
        <div class="contact_item phone">
          <img src="/assets/images/phone.png" alt="">
          <p>{{site.tel}}</p>
        </div>
        <div class="contact_item email">
          <img src="/assets/images/mail.png" alt="">
          <p><a href="mailto: {{site.email}}">{{site.email}}</a></p>
        </div>
        <div class="contact_item telegram">
          <img src="/assets/images/skype.png" alt="">
          <img src="/assets/images/telegram.png" alt="">
          <p>{{site.telegram}}</p>
        </div>
      </div>
    </div>
  </div>
</footer>