<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="footer_grid inner">
      <div class="footer_col footer_col_2">
        <div class="contact_item phone">
          <img src="/assets/images/f-phone.png" alt="phone">
          <span>{{site.tel}}</span>
        </div>
        <div class="contact_item email">
          <img src="/assets/images/f-mail.png" alt="email">
          <a href="mailto: {{site.email}}">{{site.email}}</a>
        </div>
        <div class="contact_item telegram">
          <img src="/assets/images/f-skype.png" alt="skype">
          <img src="/assets/images/f-telegram.png" alt="telegram">
          <span>{{site.telegram}}</span>
        </div>
      </div>
      <div class="footer_col footer_col_1">
        {%- for item in site.data.footer -%}
        <a href="{{item.link}}" class="footer_link">{{item.title}}</a>
        {%- endfor -%}
      </div>
  </div>
</footer>