<header class="page_header inner" role="banner">
  <button class="toggle_mnu" id="toggle_menu" onclick="toggle_menu()">
    <img src="{{'/assets/images/sandwich_white.png' | relative_url}}" class="open toggle_icon" alt="menu open">
    <img src="{{'/assets/images/times.png' | relative_url}}" class="close toggle_icon hidden hidden_small" alt="menu close">
  </button>
  <nav class="navbar hidden_small" id="navbar_top">
      {% assign items = site.data.navigate.navigation %}
      {% for item in items %}
      <a class="nav-item {% if item.link=='/blog' %}{% if page.type != 'main' %}blog-link{% endif %}{% endif %}" href="{{site.url}}{{item.link}}">{{item.title}}</a>
      {% endfor %}
        <div class="messengers">
          <hr>
          <div class="contact_item telephone">
            <img src="{{'/assets/images/phone.svg' | relative_url}}" alt="phone">
            <span>{{site.tel}}</span>
          </div>
          <div class="contact_item email">
            <img src="{{'/assets/images/mail.svg' | relative_url'}}" alt="email">
            <a href="mailto: {{site.email}}">{{site.email}}</a>
          </div>
          <div class="contact_item telegram">
            <img src="{{'/assets/images/skype.svg' | relative_url}}" alt="skype">
            <img src="{{'/assets/images/telegram.svg' | relative_url}}" alt="telegram">
            <span>{{site.telegram}}</span>
          </div>
        </div>
  </nav>
  <span class="phone">
    <img src="{{'/assets/images/tel_white.png' | relative_url}}" alt="phone"> {{site.tel}}
  </span>

  {%- assign parent = include.parent -%}
  {%- assign home = site.data.[parent] -%}
</header>