<header class="page_header inner" role="banner">
  <button class="toggle_mnu" id="toggle_menu" onclick="toggle_menu()">
    <img src="{{'/assets/images/sandwich_white.png' | relative_url}}" class="open toggle_icon" alt="menu open">
    <img src="{{'/assets/images/times.png' | relative_url}}" class="close toggle_icon hidden hidden_small" alt="menu close">
  </button>
  <nav class="navbar hidden_small" id="navbar_top">
      {% assign items = site.data.navigate.navigation %}
      {% for item in items %}
      <a class="nav-item nav-link" href="{{site.url}}{{item.link}}">{{item.title}}</a>
      {% endfor %}
  </nav>
  <span class="phone">
    <img src="{{'/assets/images/tel_white.png' | relative_url}}" alt="phone"> {{site.tel}}
  </span>
  {%- assign parent = include.parent -%}
  {%- assign home = site.data.[parent] -%}
</header>