---
---

@import "minima";

html * {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
h2 {
  margin-top: 30px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  color: #333333;
}
h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: #333333;
}
ul {
  list-style-image: url("/assets/images/Ellipse.svg");
  margin-left: 18px;
}
li,
p {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.3;
  color: #555555;
}
a {
  color: #3862b1;
}
section {
  padding-bottom: 40px;
}
.inner {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
.hidden {
  display: none;
}
.page-content {
  padding: 0;
}
.page_header {
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  left: 50%;
  display: grid;
  position: absolute;
  width: 100%;
  height: $header-height;
  background: transparent;
  color: #fff;
  .toggle_mnu {
    width: 24px;
    height: 18px;
    padding: 0;
    border: none;
    background: transparent;
    position: absolute;
    left: 30px;
    top: 30px;
    &:focus {
      outline: none;
    }
  }
  .phone {
    align-self: center;
    font-style: normal;
    line-height: 1.2;
    text-align: right;
    font-weight: 300;
    font-size: 17px;
    img {
      display: none;
    }
  }
}
.messengers {
  padding: 10px 30px;
  hr {
    margin: 10px 0;
  }
  img {
    margin-right: 8px;
    padding: 10px 0;
  }
  .telephone {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;
    color: #333333;
  }
  .email {
    font-size: 15px;
    line-height: 1.2;
  }
  .telegram {
    font-size: 15px;
    line-height: 1.2;
    color: #333333;
  }
}
.navbar {
  padding: 26px 0;
  display: grid;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  color: #3862b1;
  background: white;
  border-bottom: 1px solid;
  .nav-item {
    font-size: 18px;
    padding: 10px 30px;
    color: #3862b1;
    z-index: 1000;
    &:last-of-type {
      font-weight: 900;
    }
  }
}
.hero {
  min-height: 100vh;
  width: 100%;
  padding: 124px 0 30px;
  background-image: linear-gradient(
      to right,
      rgba(16, 41, 61, 0.8),
      rgba(62, 118, 163, 0.7) 50%,
      rgba(62, 118, 163, 0) 70%,
      rgba(62, 118, 163, 0.2) 100%
    ),
    url("/assets/images/home_hero.jpg");
  background-size: cover;
  background-position: right 15% top 0;
  .title {
    max-width: 733px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 38px;
    color: #4fffc0;
  }
  .descr {
    font-size: 14px;
    line-height: 1.3;
    color: #dcdcdc;
  }
  .promise {
    font-size: 17px;
    color: #fff;
  }
  .divider {
    display: none;
  }
  .down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    background: transparent;
    border: none;
    &:focus {
      border: none;
    }
    img {
      display: block;
      margin: 5px auto;
    }
  }
}
.tag_link {
  text-decoration: underline;
}
.hidden_small {
  display: none;
}
.why_me {
  .why_item {
    display: flex;
    align-items: start;
    padding: 10px 5px;
    * {
      margin: 5px auto;
    }
    img {
      width: 45px;
      height: 45px;
      margin-right: 20px;
    }
    .why_txt {
      font-size: 15px;
      line-height: 1.2;
      color: #333333;
    }
  }
}
.prices {
  position: relative;
  padding: 30px;
  background: #ecf2f7;
  .plan {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 14px;
    margin: 20px auto;
    .plan_title {
      margin: 10px auto;
      width: fit-content;
      padding: 10px 20px;
      background: #6798c0;
      border-radius: 20px;
      font-size: 18px;
      line-height: 1.2;
      color: #ffffff;
    }
    .plan_price {
      margin: 0 auto;
      font-style: normal;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.2;
      color: #14c284;
    }
    .plan_props {
      margin: 0;
      padding-left: 10px;
      li {
        width: 200px;
        margin: 7px auto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 1.2;
        color: #555555;
      }
    }
    .what_include {
      cursor: pointer;
      font-size: 15px;
      line-height: 1.8;
      text-align: center;
      color: #3862b1;
    }
  }
  .price_descr_popup {
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .close {
      cursor: pointer;
    }
    .contact_me {
      hr {
        display: none;
      }
      p {
        margin: 0 auto;
        padding-top: 20px;
      }
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
      border-radius: 5px;
      text-align: center;
      background: white;
      .messengers {
        display: block;
      }
    }
  }
}
.cond_item {
  margin: 7px auto;
  font-size: 14px;
}
.other_cond {
  padding: 30px;
  background: #f6f8fa;
}
.contacts {
  padding: 30px;
  text-align: center;
  h3 {
    margin: 40px auto 10px;
  }
  .contact_item {
    p {
      margin: 7px auto 12px;
    }
  }
  .phone {
    p {
      font-size: 24px;
      line-height: 38px;
      color: #333333;
    }
  }
  .email a,
  .telegram p {
    font-size: 18px;
    line-height: 1.2;
  }
}
.feedback {
  input,
  textarea {
    width: 100%;
    padding: 14px;
    margin: 7px auto;
    background: #f6f8fa;
    border: 1px solid #dddddd;

    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
  }
  .submit_btn {
    background: linear-gradient(180deg, #6798c1 0%, #5a89bd 100%);
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.05);
    font-size: 16px;
    color: white;
  }
}
.blog {
  background: #f6f8fa;
  padding: 30px 0;
  ul li::before {
    display: none;
  }
  .post_link {
    display: block;
    padding: 15px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-decoration-line: underline;
    color: #3862b1;
  }
}
.blog_btn {
  display: block;
  width: fit-content;
  margin: 10px auto;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #3862b1;
  border: 1px solid rgba(56, 98, 177, 0.25);

  box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
}

.site-footer {
  grid-row: 2/3;
  background: #10293d;
  .footer_link {
    text-decoration: underline;
  }
  .footer_link,
  * {
    color: white;
  }
  .footer_col_1 {
    * {
      display: block;
    }
    a:nth-child(1) {
      padding: 20px 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.2;
    }
  }
  .footer_col_2 {
    .contact_item {
      padding: 8px 0;
      * {
        padding: 2px;
      }
    }
  }
}

///////////////////
/*   Blog page   */
///////////////////

.blog_hero {
  height: 388px;
  padding-top: 112px;
  background-image: linear-gradient(to right, rgba(#10293d, 0.9), rgba(#10293d, 0.8) 100%),
    url("/assets/images/hero1-blog.jpg");
  background-size: cover;
  background-position: right 0 top 0;
  .title {
    margin: 0;
    line-height: 1;
    font-weight: bold;
    font-size: 60px;
    color: #4fffc0;
  }
  .subtitle {
    margin: 20px 0;
    font-weight: 300;
    font-size: 30px;
    line-height: 1.1;
    color: #4fffc0;
  }
  .descr {
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #dcdcdc;
  }
}
.categories_list {
  padding: 0 0 30px;
  a {
    display: block;
    margin: 5px auto;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
    text-decoration-line: underline;
    color: #3862b1;
  }
}
.pop_posts {
  padding: 30px 0;
  background: #f6f8fa;
  //box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .post_card {
    display: block;
    .card_title {
      margin: 15px 0 0;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.3;
      text-decoration-line: underline;
      color: #3862b1;
    }
  }
  .read_all {
    width: 100%;
    color: #3862b1;
    background: transparent;
    border: 1px solid rgba(56, 98, 177, 0.25);
    box-sizing: border-box;
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    &:focus {
      outline: none;
    }
    &:hover {
      text-decoration: none;
      background: #fff;
    }
  }
}
.tags_cloud {
  margin: 20px auto;
  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
  }
  a {
    padding: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    text-decoration-line: underline;
    color: #3862b1;
  }
}
.navigation {
  padding-top: 30px;
  padding-bottom: 30px;
  .screen-reader-text {
    display: none;
  }
}

////////////////////////////////////
/*           Post                 */
////////////////////////////////////
.post img {
  margin: 20px auto;
}
.page-header {
  height: 80px;
}
.post-header {
  background-image: linear-gradient(to bottom, #253b4e, #253b4e 80px, #fff 80px);
  padding-top: 80px;
  .back {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #f6f8fa;
    font-size: 14px;
    line-height: 180%;
    text-decoration-line: underline;
    color: #3862b1;
  }
  .post-title {
    margin-top: 30px;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.1;
    color: #333333;
  }
  .post-category {
    font-size: 14px;
    line-height: 180%;
    color: #999999;
    a {
      text-decoration-line: underline;
      color: #3862b1;
      margin-left: 8px;
    }
  }
}

@include media-query($on-palm) {
  .page-header {
    height: 120px;
  }
  .post-header {
    background-image: linear-gradient(to bottom, #253b4e, #253b4e 120px, #fff 120px);
    padding-top: 120px;
  }
  .messengers {
    display: none;
  }
  .why_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    * {
      text-align: left;
    }
  }
  h2 {
    font-size: 40px;
    margin: 40px auto 30px;
  }
  .inner {
    margin-right: auto;
    margin-left: auto;
    padding-right: 5%;
    padding-left: 5%;
  }
  .site-header .toggle_mnu {
    display: inline-block;
  }
  .page_header {
    grid-template-columns: 1fr 200px;
    .toggle_mnu {
      display: none;
    }
    .navbar {
      top: 0;
      position: relative;
      background: transparent;
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
      border-bottom: none;
      .nav-item {
        padding: 10px 10px 0 10px;
        color: #fff;
        font-size: 16px;
      }
      .blog-link {
        background: #14c284;
        border-radius: 25px;
        padding: 10px 20px;
      }
    }
    .phone {
      font-size: 24px;
      img {
        display: inline;
      }
    }
  }
  .hero {
    padding: 219px 0 30px;
    .title {
      font-size: 70px;
      line-height: 1;
    }
    .descr {
      font-size: 18px;
      line-height: 1.3;
      color: #dcdcdc;
    }
    .promise {
      font-size: 22px;
      line-height: 1.3;
      color: #fff;
    }
    .divider {
      display: none;
    }
    .descr,
    .promise {
      margin-top: 40px;
      max-width: 656px;
    }
  }
  .price_descr_grid,
  .price_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: center;
    .plan {
      width: 100%;
    }
  }
  .condit {
    .cond_item {
      margin: 7px 0;
    }
    p {
      max-width: 690px;
      font-size: 18px;
      text-align: center;
      line-height: 1.3;
      text-align: center;
      margin: 30px auto 40px;
    }
  }
  .cond_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    li {
      font-size: 16px;
    }
  }
  .other_cond {
    h2 {
      font-weight: 300;
    }
  }
  .contacts_grid {
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    p {
      font-size: 26px;
      line-height: 1.2;
      margin: 7px auto;
    }
  }
  .feedback {
    padding: 20px;
    border: 1px solid #f6f8fa;
    border-radius: 7px;
    .form_grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 10px;
      textarea {
        margin: 0;
        grid-column: 1/2;
        grid-row: 1/4;
      }
      input {
        grid-column: 2/3;
        margin: 0;
      }
    }
  }
  .post-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
  .site-footer {
    height: auto;
  }
  .footer_grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 30px;
    .footer_col_1 {
      grid-column: 1/2;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: 1fr;
    }
    .footer_col_2 {
      display: grid;
    }
  }

  /* Blog page */

  .blog_hero {
    height: auto;
    padding: 150px 0 20px;
    background-image: linear-gradient(to right, rgba(#10293d, 0.9), rgba(#10293d, 0.8) 100%),
      url("/assets/images/blog-hero2.jpg");
    background-size: cover;
    background-position: right 0 top 0;
    .title {
      display: inline;
      font-size: 70px;
    }
    .subtitle {
      margin-left: 12px;
      display: inline;
      font-style: normal;
      font-weight: 300;
      font-size: 70px;
      line-height: 112%;
    }
    .descr {
      margin: 30px 0;
      font-weight: 400;
      max-width: 656px;
      font-size: 18px;
      line-height: 130%;
    }
  }
  .categories_list {
    padding-bottom: 30px;
    a,
    h2 {
      font-size: 18px;
      display: inline-block;
      padding: 0 10px;
    }
  }
  .posts_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background: #f6f8fa;
  }
  .pop_posts {
    .read_all {
      font-size: 18px;
      width: fit-content;
    }
    .post_card {
      .card_title {
        font-size: 22px;
      }
    }
  }
  .tags_cloud {
    text-align: center;
    h2 {
      font-size: 40px;
    }
    a {
      font-size: 16px;
      line-height: 2.2;
    }
  }
  .navigation {
    padding-top: 30px;
    padding-bottom: 30px;
    .screen-reader-text {
      display: none;
    }
  }
  .nav-links {
    text-align: center;
  }
}

@include media-query($on-laptop) {
  .why_grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .inner {
    padding-left: 80px;
    padding-right: 80px;
  }
  .price_descr_grid,
  .price_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    justify-content: center;
    .plan {
      width: 100%;
    }
  }
  .post-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .footer_grid {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 30px;
    .footer_col_1 {
      grid-column: 1/2;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      a:nth-child(1) {
        grid-column: 1/4;
        grid-row: 1/2;
      }
    }
    .footer_col_2 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }
}
@include media-query($on-desktop) {
  .page-header {
    height: 80px;
  }
  .post-header {
    background-image: linear-gradient(to bottom, #253b4e, #253b4e 80px, #fff 80px);
    padding-top: 80px;
  }
  .why_grid {
    grid-gap: 20px;
  }
  h2 {
    font-size: 40px;
    margin: 40px auto 30px;
  }
  .inner {
    margin-right: auto;
    margin-left: auto;
    padding-right: 150px;
    padding-left: 150px;
  }
  .site-header .toggle_mnu {
    display: inline-block;
  }
  .page_header {
    grid-template-columns: 1fr 300px;
    .toggle_mnu {
      display: none;
    }
    .navbar {
      display: inline-block;
      justify-content: start;
    }
    .phone {
      font-size: 24px;
      img {
        display: inline;
      }
    }
  }
  .hero {
    padding: 219px 0 30px;
    .promise {
      font-size: 22px;
      line-height: 1.3;
      color: #fff;
    }
  }
  .price_descr_grid,
  .price_grid {
    grid-gap: 30px;
  }
  .cond_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer_grid {
    grid-template-columns: 40% 60%;
    grid-gap: 30px;
    .footer_col_1 {
      grid-template-columns: 1fr 1fr 1fr;
      a:nth-child(1) {
        grid-column: 1/4;
      }
    }
    .footer_col_2 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  /* Blog page */

  .blog_hero {
    height: 370px;
    padding-top: 150px;
    .subtitle {
      margin-left: 12px;
      display: inline;
      font-style: normal;
      font-weight: 300;
      font-size: 70px;
      line-height: 112%;
    }
  }
  .posts_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    background: #f6f8fa;
  }
}
