---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page_title">{{ page.title | markdownify }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <section class="blog">
    <div class="inner">
      <h2 class="post-list-heading">Блог</h2>
      <ul class="post-list">
        {%- for post in site.posts limit: site.data.home.blog_count -%}
        <li>
          <img src="{{post.image}}" alt="{{post.title}}">
          <a class="post_link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
          {{ post.excerpt }}
        </li>
        {%- endfor -%}
      </ul>
      <a href="{{'/blog' | relative_url}}" class="blog_btn">{{site.data.home.blog_button}}</a>
    </div>
  </section>
  {%- endif -%}
</div>