---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <a class="back" href="{{'/blog' | relative_url}}">&lt; Назад к списку статей</a>

    <h1 class="post-title inner" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-category inner">Категория: <a href="{{page.categories | relative_url}}">{{page.categories}}</a>
    </p>
  </header>

  <div class="inner">
    <img src="{{page.image | relative_url}}" alt="{{page.title}}">
  </div>
  <div class="post-content e-content inner" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="inner tags_cloud">
    <span class="tags">Тэги:</span>
    {%- for tag in page.tags -%}
    <a href="#"" class=" tag_link">{{tag}}</a>
    {%- endfor -%}
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>