---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <a class="back inner" href="{{'/blog' | relative_url}}">&lt; Назад к списку статей</a>

    <h1 class="post-title inner" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-category inner">Категория: 
          {%- for item in site.data.categories -%}
          {%- if item.slug == page.categories[0] -%} 
          {%- assign title = item.category -%}
          {%- break -%}
          {%- endif -%}
          {%- endfor -%}
      <a href="{{page.categories[0] | relative_url | prepend: '/category'}}">{{title}}</a>
    </p>
  </header>

  <div class="inner">
    <img src="{{page.image | relative_url}}" alt="{{page.title}}">
  </div>
  <div class="post-content e-content inner" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="inner tags_cloud">
    <span class="tags">Тэги:</span>
    {%- for tag in page.tags -%}
    {%- for item in site.data.tags -%}
      {%- if item.slug == tag -%}
        {%- assign title = item.title -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
    <a href="{{tag | relative_url | prepend: '/tag'}}" class=" tag_link">{{title}}</a>
    {%- endfor -%}
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>