---
layout: default
---
{%- include hero_blog.html -%}
{%- include categories.html -%}
<div class="pop_posts">
  <h2>Статьи за тэгом</h2>
  <div class="posts_grid inner">
    {%- for post in paginator.posts -%}
    <div class="post_card">
      <img src="{{post.image | relative_url}}" alt="{{post.title}}">
      <a href="{{post.url | relative_url}}">
        <h3 class="card_title">{{post.title}}</h3>
      </a>
      <p class="card_body">{{post.excerpt}}</p>
    </div>
    {%- endfor -%}
  </div>
  <a href="{{/blog" | relative_url}}" class="read_all blog_btn">Показать еще</a>
</div>
<section class="tags_cloud inner">
  <h2>Поиск по тегам</h2>
  {%- include tagcloud.html -%}
</section>
<!-- Pagination links -->
<nav class="navigation inner" role="navigation">
  <h2 class="screen-reader-text">Posts navigation</h2>
  <div class="nav-links">
    {% if paginator.next_page %}
    <div class="nav-previous"><a href="{{ paginator.next_page_path }}"><span class="meta-nav">←</span> Предыдущие
        посты</a>
    </div>
    {% endif %}
    {% if paginator.previous_page %}
    <div class="nav-next"><a href="{{ paginator.previous_page_path }}">Новые посты
        <span class="meta-nav">→</span></a></div>
    {% endif %}

  </div>
  <!-- .nav-links -->
</nav>